nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;

    ul {
        display: flex;
        
        .link {
            margin: 10px;
            text-decoration: none;
            color: white;
        }

        .link:hover {
            font-weight: bold;
            color: black;
        }

        .link:active {
            color: white;
        }
    }
}